

.clockBody {
  color: black;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  font-size: 60px;
  padding-top: 30px;
  padding-right: 30px;
  text-align: right;


}

.dateBody {
  font-size: 20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-right: 40px;
  text-align: right;

}

.weatherBody {
  font-size: 60px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  text-align: left;
  top: 38px;
  position: absolute;
}

.forecastBody {
  font-size: 20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  text-align: left;
  top: 118px;
  position: absolute;
}

.image {
  height: 72px;
  width: 72px;
  padding-left: 200px;
  position: absolute;
  top: 38px;

}

.news {
  font-size:20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  padding-bottom: 10px;
  width: 50%;
  margin-right: 800px;
}

.spotify {
  font-size:14px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 20px;
  left: 0;
  right: 0;
}

.spotify_icon {
  width: 50px;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-bottom: 35px;
}

.news_head {
  position: relative;
  width: 450px;
  padding-left: 30px;
  margin-top: 30px;
  padding-bottom: 5px;
}

.twitter_logo {
  position: relative;
  width: 75px;
  padding-left: 40px;
  margin-top: 30px;
}

.twitter {
  font-size: 20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  padding-bottom: 10px;
}

.crypto {
  font-size:14px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
}

.crypto_up {
  color: #008302;
  font-size:14px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
}

.crypto_down {
  color: #f00;
  font-size:14px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
}
